<div class="row mb-3 align-items-center my-3">
        
    <h1 class="mt-4">@ViewData["title"]</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Admin/Home">Dashboard</a></li>
        <li class="breadcrumb-item active">@ViewData["title"]</li>
    </ol>
</div>